.207_234 { 
	overflow:hidden;
}.e207_234 { 
	width:1280px;
	height:700px;
	position:absolute;
}.e205_146 { 
	background-color:rgba(8.000000473111868, 8.000000473111868, 8.000000473111868, 1);
	width:1280px;
	height:700px;
	position:absolute;
	left:0px;
	top:0px;
}.e203_56 { 
	width:538px;
	height:299px;
	position:absolute;
	left:180px;
	top:201px;
}.e203_57 { 
	width:492px;
	height:206px;
	position:absolute;
	left:0px;
	top:0px;
}.e205_147 { 
	width:426px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
}.e205_148 { 
	width:426px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
}.e205_149 { 
	color:rgba(255, 255, 255, 1);
	width:426px;
	height:104px;
	position:absolute;
	left:0px;
	top:10px;
	font-family:Raleway;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}.e205_150 { 
	width:492px;
	height:72px;
	position:absolute;
	left:0px;
	top:134px;
}.e205_151 { 
	color:rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
	width:492px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:IBM Plex Mono;
	text-align:left;
	font-size:14px;
	letter-spacing:1;
	line-height:px;
}.e205_161 { 
	box-shadow:0px 8px 30px rgba(63.000000044703484, 142.00000673532486, 0, 0.5);
	background-color:rgba(62.64500789344311, 142.37500101327896, 0, 1);
	width:307.8928527832031px;
	height:63px;
	position:absolute;
	left:0px;
	top:236px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.205_161 { 
	border:1px solid rgba(97.57898434996605, 185.9375050663948, 27.115876972675323, 1);
}.e205_162 { 
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:21px;
	position:absolute;
	left:64px;
	top:21px;
	font-family:IBM Plex Mono;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e205_163 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.892857074737549px;
	height:10px;
	position:absolute;
	left:238px;
	top:26.5px;
}.e205_144 { 
	width:350px;
	height:350px;
	position:absolute;
	left:750px;
	top:150px;
}.203_69 { 
	overflow:hidden;
}.e203_69 { 
	border-radius:500px;
	width:350px;
	height:350px;
	position:absolute;
	left:0px;
	top:0px;
}.e216_5 { 
	width:416px;
	height:623px;
	position:absolute;
	left:-33px;
	top:-110px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}