.207_232 { 
	overflow:hidden;
}.e207_232 { 
	width:1280px;
	height:804px;
	position:absolute;
}.e205_197 { 
	background-color:rgba(8.000000473111868, 8.000000473111868, 8.000000473111868, 1);
	width:1280px;
	height:804px;
	position:absolute;
	left:0px;
	top:0px;
}.e205_204 { 
	width:73px;
	height:40px;
	position:absolute;
	left:603.5px;
	top:80px;
}.e205_205 { 
	color:rgba(255, 255, 255, 1);
	width:73px;
	height:40px;
	position:absolute;
	left:419px;
	top:80px;
	font-family:Raleway;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}.e207_32 { 
	width:445px;
	height:212px;
	position:absolute;
	left:261px;
	top:194px;
}.e207_33 { 
	width:445px;
	height:212px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.e207_34 { 
	color:rgba(156.18750303983688, 156.18750303983688, 156.18750303983688, 1);
	width:360px;
	height:168px;
	position:absolute;
	left:30px;
	top:30px;
	font-family:IBM Plex Mono;
	text-align:left;
	font-size:14px;
	letter-spacing:1;
	line-height:px;
}.e207_35 { 
	width:107px;
	height:21px;
	position:absolute;
	left:100px;
	top:147px;
}.e207_48 { 
	transform: rotate(180deg);
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:120px;
	position:absolute;
	left:716px;
	top:368px;
	font-family:Raleway;
	text-align:left;
	font-size:100px;
	letter-spacing:1;
}.e207_49 { 
	color:rgba(255, 255, 255, 1);
	width:32px;
	height:117px;
	position:absolute;
	left:210px;
	top:166px;
	font-family:Raleway;
	text-align:left;
	font-size:100px;
	letter-spacing:1;
}